# Sales price Predication using Phython

In [ ]:
BY Nikhil Mahajan

In [1]:
# import all necessary libarary 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#store Csv dataset into df variable 
df=pd.read_csv("Advertising.csv")

In [4]:
# read first 20 rows 
df.head(20)

    Unnamed: 0     TV  Radio  Newspaper  Sales
0            1  230.1   37.8       69.2   22.1
1            2   44.5   39.3       45.1   10.4
2            3   17.2   45.9       69.3    9.3
3            4  151.5   41.3       58.5   18.5
4            5  180.8   10.8       58.4   12.9
5            6    8.7   48.9       75.0    7.2
6            7   57.5   32.8       23.5   11.8
7            8  120.2   19.6       11.6   13.2
8            9    8.6    2.1        1.0    4.8
9           10  199.8    2.6       21.2   10.6
10          11   66.1    5.8       24.2    8.6
11          12  214.7   24.0        4.0   17.4
12          13   23.8   35.1       65.9    9.2
13          14   97.5    7.6        7.2    9.7
14          15  204.1   32.9       46.0   19.0
15          16  195.4   47.7       52.9   22.4
16          17   67.8   36.6      114.0   12.5
17          18  281.4   39.6       55.8   24.4
18          19   69.2   20.5       18.3   11.3
19          20  147.3   23.9       19.1   14.6

In [5]:
# acess below 5 rows
df.tail()

     Unnamed: 0     TV  Radio  Newspaper  Sales
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

In [6]:
# cheak the dimension of  dataset 
df.shape

(200, 5)

In [7]:
# cheak statical anlaysis of dataset 
df.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [8]:
# cheak correletaion betwee dataset 
df.corr()

            Unnamed: 0        TV     Radio  Newspaper     Sales
Unnamed: 0    1.000000  0.017715 -0.110680  -0.154944 -0.051616
TV            0.017715  1.000000  0.054809   0.056648  0.782224
Radio        -0.110680  0.054809  1.000000   0.354104  0.576223
Newspaper    -0.154944  0.056648  0.354104   1.000000  0.228299
Sales        -0.051616  0.782224  0.576223   0.228299  1.000000

In [9]:
# to cheak the information of dataset 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

In [10]:
# cheak the missing values in dataset
df.isnull().sum()

Unnamed: 0    0
TV            0
Radio         0
Newspaper     0
Sales         0
dtype: int64

In [12]:
df.columns

Index(['Unnamed: 0', 'TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [15]:
# splitting datset into two parts 
y=df['Sales']
x=df.drop(['Sales'],axis=1)

In [16]:
# splitting dataset into train and test split 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size =0.2, random_state=51)
print("shape of x_train= ",x_train.shape)
print("shape of y_train= ",y_train.shape)
print("shape of x_test= ",x_test.shape)
print("shape of y_test= ",y_test.shape)

shape of x_train=  (160, 4)
shape of y_train=  (160,)
shape of x_test=  (40, 4)
shape of y_test=  (40,)

In [18]:
# select the model 
#Linear Regeression

In [19]:
from sklearn.linear_model import LinearRegression 
lr = LinearRegression()

In [21]:
linearRegression=lr.fit(x_train,y_train)

In [22]:
y_pre=lr.predict(x_test)

In [23]:
lr.score(x_test,y_test)

0.9076546711720634

In [24]:
from sklearn.linear_model import Lasso
from sklearn import metrics

In [25]:
from sklearn.linear_model import Lasso
from sklearn import metrics

In [26]:
lass_reg_model = Lasso()

In [27]:
lass_reg_model.fit(x_train,y_train)

Lasso()

In [28]:
y_pre=lr.predict(x_test)

In [29]:
lr.score(x_test,y_test)

0.9076546711720634